<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groundupworks.flyingphotobooth"
    android:versionCode="17"
    android:versionName="3.8">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <!-- Requiring camera permission would cause Google Play to filter out the Nexus 7 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!-- Prevent the Android OS from sending default NDEF messages for all activities -->
        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />

        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyPreferenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSelector" />

        <!-- Extra parameters for Facebook endpoint -->
        <activity
            android:name="com.groundupworks.wings.facebook.FacebookLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSelector" />
        <activity
            android:name="com.groundupworks.wings.facebook.FacebookSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSelector" />

        <!-- Extra parameters for Google Cloud Print endpoint -->
        <activity
            android:name="com.groundupworks.wings.gcp.GoogleCloudPrintSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSelector" />
    </application>

</manifest>